> (c) 2022 Tim C. Smith, All rights reserved
>

# Universal Bank Promotional Campaign: A practical illustration of *model performance assessment using confusion matrices*

## Problem Statement

Universal Bank has begun a program to encourage existing customers to borrow via a consumer loan program. 

The bank has tested a loan promotion on a random sample of 5000 customers. This test promotion resulted in 480 of the 5000 existing customers accepting the offer. 

The bank is intrigued by the success of this promotion. It has hired you to help them develop a model to identify which of its remaining customers may accept a similar promotion. 

They hired you to help them reduce the promotion costs and target the offer to only a subset of its customers that or more likely to accept the offer. They disclosed that the cost to promote this offer is \\$10 dollars per customer, and the profit from obtaining a loan customer is \\$100. They have an additional 50,000 customers that have not been contacted about the promotion.

## Import all required libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing 
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

np.random.seed(1)

## Preliminary business problem scoping

Before starting your analysis, you jot down what the profit and loss (P&L) must have been from their marking trial...

In [2]:
TP_profit = 100 - 10   # the loan profit minus the targeting cost
FP_profit = -10   # no loan profit, just the targeting cost
TN_profit = 0 # they wouldn't take a loan, and we didn't spend the money targeting them
FN_profit = -100 # they would have taken the loan, but we didn't target them 

# in the null model there are only FP's and TP's because everyone is considered a possible customer
original_profit = 480*TP_profit + (5000-480)*FP_profit
print(f"${original_profit:,.2f}")

$-2,000.00

Using this approach on the remaining 50000 customers would not be a good business decision, as it would result in a loss of...

In [3]:
print(f"${original_profit*50000/5000:,.2f}")

$-20,000.00

Based on this initial analysis, it's clear that the bank cannot continue this promotion unless they have a model to help them identify the best potential customers. The best model possible would be 100% accurate. Universal Bank's initial test resulted in 480 or 5000 customers choosing to take the offer. The rate 480/5000 is, therefore, the expected rate of customers that take the request, and thus the expected profit result from a perfectly accurate model would be:

In [4]:
print(f"${480*50000/5000*TP_profit:,.2f}")

$432,000.00

> **Universal Bank is making the right decision in bringing you in to help them. You're probably now thinking you should renegotiate your constulting fee :)**

## Load, Explore and Clean Data

In [5]:
import pandas as pd

# Load the data direct from GitHub
bank_df = pd.read_csv('../Data/UniversalBank.csv') # change this path depending on where you store the file on your computer
bank_df.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

Check column names, and for convenience, remove whitespaces...

In [6]:
bank_df.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [7]:
bank_df.columns = [s.strip().upper().replace(' ', '_') for s in bank_df.columns] 
bank_df.columns

Index(['ID', 'AGE', 'EXPERIENCE', 'INCOME', 'ZIP_CODE', 'FAMILY', 'CCAVG',
       'EDUCATION', 'MORTGAGE', 'PERSONAL_LOAN', 'SECURITIES_ACCOUNT',
       'CD_ACCOUNT', 'ONLINE', 'CREDITCARD'],
      dtype='object')

We decide that a couple of variables aren't predictors; therefore we drop them and then check if there are any missing values in the remaining variables...

In [8]:
# drop ID, and Zip Code as predictors
bank_df = bank_df.drop(columns=['ID', 'ZIP_CODE'])

# check for missing values
bank_df.isnull().sum()

AGE                   0
EXPERIENCE            0
INCOME                0
FAMILY                0
CCAVG                 0
EDUCATION             0
MORTGAGE              0
PERSONAL_LOAN         0
SECURITIES_ACCOUNT    0
CD_ACCOUNT            0
ONLINE                0
CREDITCARD            0
dtype: int64

Check the variable types

In [9]:
bank_df.dtypes

AGE                     int64
EXPERIENCE              int64
INCOME                  int64
FAMILY                  int64
CCAVG                 float64
EDUCATION               int64
MORTGAGE                int64
PERSONAL_LOAN           int64
SECURITIES_ACCOUNT      int64
CD_ACCOUNT              int64
ONLINE                  int64
CREDITCARD              int64
dtype: object

In [10]:
bank_df.SECURITIES_ACCOUNT.unique()

array([1, 0])

In [11]:
bank_df.SECURITIES_ACCOUNT = bank_df.SECURITIES_ACCOUNT.astype('category')

In [12]:
bank_df.CD_ACCOUNT.unique()

array([0, 1])

In [13]:
bank_df.CD_ACCOUNT = bank_df.CD_ACCOUNT.astype('category')

In [14]:
bank_df.ONLINE.unique()

array([0, 1])

In [15]:
bank_df.ONLINE = bank_df.ONLINE.astype('category')

In [16]:
bank_df.CREDITCARD.unique()

array([0, 1])

In [17]:
bank_df.CREDITCARD = bank_df.CREDITCARD.astype('category')

In [18]:
bank_df.PERSONAL_LOAN.unique()

array([0, 1])

In [19]:
bank_df.PERSONAL_LOAN = bank_df.PERSONAL_LOAN.astype('category')

In [20]:
bank_df.EDUCATION.unique()

array([1, 2, 3])

In [21]:
bank_df.EDUCATION = bank_df.EDUCATION.astype('category')

In [22]:
bank_df.describe()

,AGE,EXPERIENCE,INCOME,FAMILY,CCAVG,MORTGAGE
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,45.338400,20.104600,73.774200,2.396400,1.937938,56.498800
std,11.463166,11.467954,46.033729,1.147663,1.747659,101.713802
min,23.000000,-3.000000,8.000000,1.000000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.700000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,1.500000,0.000000
75%,55.000000,30.000000,98.000000,3.000000,2.500000,101.000000
max,67.000000,43.000000,224.000000,4.000000,10.000000,635.000000

## Split Data

Split data into a 70/30 split.

In [23]:
train_df, validation_df = train_test_split(bank_df, test_size=0.3, random_state=1)

## Address Data Imbalance

In [24]:
non_loan_count, loan_count = train_df.PERSONAL_LOAN.value_counts()
print(non_loan_count, loan_count)

3169 331

#### Oversampling Approach

took_loan_df  = train_df.loc[train_df.PERSONAL_LOAN==1]
df_oversampled = took_loan_df.sample(n=(non_loan_count-loan_count),replace=True)

train_df = pd.concat([train_df, df_oversampled], ignore_index=True)
train_df.PERSONAL_LOAN.value_counts()

#### Undersampling Approach

took_loan_df = train_df.loc[train_df.PERSONAL_LOAN==1]
did_not_take_loan_df  = train_df.loc[train_df.PERSONAL_LOAN==0]

df_undersampled = did_not_take_loan_df.sample(n=(loan_count),replace=False)

train_df = pd.concat([took_loan_df, df_undersampled], ignore_index=True)
train_df.PERSONAL_LOAN.value_counts()

#### Mixing Over and Under sampling

did_not_take_loan_df  = train_df.loc[train_df.PERSONAL_LOAN==0]
took_loan_df  = train_df.loc[train_df.PERSONAL_LOAN==1]

num_of_observations = train_df.shape[0]
print(num_of_observations//2)

df_undersampled = did_not_take_loan_df.sample(n=(num_of_observations//2),replace=False)
df_oversampled = took_loan_df.sample(n=(num_of_observations//2),replace=True)

train_df = pd.concat([df_undersampled, df_oversampled], ignore_index=True)
train_df.PERSONAL_LOAN.value_counts()

## Transform Predictors

K-nn models are sensitive to differences in scale; therefore, we should begin by eliminating any differences in scale between the predictors/features. To accomplish this, we will standardize the values of each variable.

We will use the popular sklearn library's 'standard scaler' to accomplish this. This library contains many of the common functions we require when conducting analytics. The standard scaler function will standardize our variables. To achieve this, we will first need to train the scaler on the training data and then apply this trained scaler to standardize both the training and validation sets.

In [26]:
target = 'PERSONAL_LOAN'
predictors = list(bank_df.columns)
predictors.remove(target)

# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
scaler.fit(train_df[predictors])

# Transform the predictors of training and validation sets
train_predictors = scaler.transform(train_df[predictors]) # train_predictors is not a numpy array
train_target = train_df[target] # train_target is now a series object

validation_predictors = scaler.transform(validation_df[predictors]) # validation_target is now a series object
validation_target = validation_df[target] # validation_target is now a series object

> * https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
> * https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

Let's now explore the results of the standardization (NOTE: The returned object from a scaler transform is a numpy array)

In [27]:
import numpy as np

print(train_predictors[:5], end="\n\n")
print(np.array(train_target[:5]), end="\n\n")
print(validation_predictors[:5], end="\n\n")
print(np.array(validation_target[:5]), end="\n\n")

[[ 0.85243239  0.78800252 -1.18974485  1.31706952 -0.16234237 -1.28425872
  -0.57107278  2.68625435 -0.47937063 -1.25969998 -0.68419354]
 [-1.1205638  -1.18463806 -0.5240144  -1.33678386  0.02650939  1.12781829
  -0.57107278 -0.37226557 -0.47937063 -1.25969998 -0.68419354]
 [ 1.45290949  1.47413838 -1.2637149  -1.33678386 -0.82332354  1.12781829
  -0.57107278 -0.37226557 -0.47937063  0.79383981 -0.68419354]
 [ 1.62447438  1.55990536 -1.43014752  0.43245173 -1.0121753  -0.07822021
  -0.57107278 -0.37226557 -0.47937063  0.79383981 -0.68419354]
 [ 0.76664995  0.78800252 -0.8198946   1.31706952  0.45142586 -0.07822021
   0.55321355 -0.37226557 -0.47937063  0.79383981 -0.68419354]]

[0 0 0 0 0]

[[-1.20634624 -1.27040504 -0.41305933 -1.33678386  0.02650939  1.12781829
   0.22120953 -0.37226557 -0.47937063 -1.25969998  1.46157474]
 [-0.86321647 -0.92733711 -1.13426732  0.43245173 -0.91774942 -1.28425872
   0.19102735  2.68625435 -0.47937063 -1.25969998 -0.68419354]
 [-0.94899891 -0.92733711 -1.31919244  0.43245173 -0.72889766 -1.28425872
  -0.57107278 -0.37226557 -0.47937063 -1.25969998 -0.68419354]
 [ 0.33773773  0.27340063  0.14171605 -1.33678386 -1.20102707 -1.28425872
   1.58695333 -0.37226557 -0.47937063  0.79383981 -0.68419354]
 [-0.77743403 -0.67003617 -0.6719545   0.43245173 -0.11512943 -0.07822021
   0.67394228 -0.37226557 -0.47937063  0.79383981 -0.68419354]]

[0 0 0 0 0]

## Train a K-NN model

You've heard that a good starting point in determining a k value is to try the square root of the total observations. Since there are 5000 observations, following this rule of thumb, we would select a k value of 70  (but it's best to choose an odd number so that we will use k=71).

> If k is an even number, there is a possibility that an observation could have the same number of nearest neighbors being one class (they took the loan) as the number being another (did not take the loan). In the cases of a tie, the SKLearn implementation of k-nn will select the first found. Though the chances of this happening are low, it's better to avoid this by choosing an odd number.

In [28]:
knn = KNeighborsClassifier(n_neighbors=71,  metric='euclidean') # user euclidean distance

# We could choose other distance metrics; for a list of other metrics...
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.distance_metrics.html#sklearn.metrics.pairwise.distance_metrics
# coverage of difference distance metrics is outside of this courses scope... but, you can experiment by changing the metric
# for example...
#knn = KNeighborsClassifier(n_neighbors=71,  metric='manhattan')

knn.fit(train_predictors, train_target)
knn_prediction_output = knn.predict(validation_predictors)
knn_prediction_output

array([1, 0, 0, ..., 0, 0, 0])

> * https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html
> * https://scikit-learn.org/stable/modules/generated/sklearn.metrics.DistanceMetric.html#sklearn.metrics.DistanceMetric

In [29]:
unique, counts = np.unique(knn_prediction_output, return_counts=True)
dict(zip(unique, counts))

{0: 1235, 1: 265}

> Note that we know that the TP rate is 480/5000 = 9.6% in the sample, but our predictions are identifying 41/1459=2.8%. This is a bit of a 'red flag' to indicate that the precision of our model may be poor - which is most likely due to the imbalance between classes in our training data (480 in one class and 4520 in the other). Such imbalances can be a problem with many machine learning algorithms, including k-nn. Addressing this problem is a topic for another class, but the influence of the unbalanced data can be partially mitigated by using a smaller k value. We will see this in practice when we cover hyper-parameter tuning in the next class.

> For now, we will ignore this potential opportunity to improve our model and move ahead with our analysis to see if this model is sufficient to help Universal Bank generate profit.

## Measure performance of model using confusion matrix

In [30]:
confusion = confusion_matrix(validation_target, knn_prediction_output)

> * https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

In [31]:
confusion

array([[1216,  135],
       [  19,  130]])

In [32]:
TP = confusion[1, 1] # True Positives
TN = confusion[0, 0] # True Negatives
FP = confusion[0, 1] # False Positives
FN = confusion[1, 0] # False Negatives

### Accuracy:

How often was the model correct?

In [33]:
classification_accuracy = (TP + TN) / (TP + TN + FP + FN)
print(f"{classification_accuracy:.4f}")

0.8973

### Misclassification Rate:

How often was the model incorrect?

In [34]:
classification_error = (FP + FN) / (TP + TN + FP + FN)
# this is the same as ...
# classification_error = 1-classification_accuracy

print(f"{classification_error:.4f}")

0.1027

### Precision: 

When a positive value is predicted, how often is the prediction correct?

In other wordes: How "precise" is the classifier when predicting positive instances?

In [35]:
precision = TP / (TP + FP)
print(f"{precision:.4f}")

0.4906

### Recall (aka sensititivy):

Ability of a classification model to identify all relevant instances. 
Also referred to as Sensitivity, Probability of Detection, True Positive Rate

In [36]:
recall = TP / (TP + FN)
print(f"{recall:.4f}")

0.8725

### F1 Score

This is a measure that takes the harmonic mean of precision and recall.

In [37]:
f1_Score = (2 * precision * recall) / (precision + recall)
print(f"{f1_Score:.4f}")

0.6280

* As the analytics consultant, you know what all the above performance measures mean - but while presenting this information to the CEO, she became impatient and interrupted you to ask how profit and loss will be impacted if they choose to use this model over simply targeting everyone (you then take a note to yourself to place more focus on profit and loss when speaking with future CEO's)*

Let's look at how we could address this question...

## Is our k-nn model a better model that the null (promote to all) model?


Based on your initial business problem scoping, you calculated Universal Bank's expected profit from targeting the remaining 50,000 customers without the support of a model was \\$-20,000.00. 

Let's calculate how much our model improves things...

#### What would be the expected returns from not using a model?

From the initial trial, 480 of the 5000 (9.6%) customers targeted took the loan, and 5000-480 (90.4%) didn't take the loan. Since the initial test was on a random selection of customers and did not use a model, then the expected percentage of the 50000 customer will also be 9.6% and 90.4%.

Let's look at the confusion matrix of the performance of the model on the validation data

In [38]:
confusion

array([[1216,  135],
       [  19,  130]])

Let's convert these values into percentages

In [39]:
confusion_perc = confusion/(.3*5000)  # since the confusion matrix is for the performance on the validation data, it's .30% of 5000, or 1500. 
confusion_perc

array([[0.81066667, 0.09      ],
       [0.01266667, 0.08666667]])

Now, let's do a scaler multiplication of the number of customers that will be targetted in the newly proposed campaign (50,000 customers). This will give us the number of expected customers in each of the categories in the confusion matrix (TP, FP, TN, FN)

In [40]:
knn_result = confusion_perc * 50000
knn_result

array([[40533.33333333,  4500.        ],
       [  633.33333333,  4333.33333333]])

Now, let's create a p_and_l matrix (profit and loss)

In [41]:
p_and_l = np.array([[TN_profit, FP_profit],[FN_profit, TP_profit]])
p_and_l

array([[   0,  -10],
       [-100,   90]])

Multiple our profit and loss matrix with our knn_result matrix to get profit and loss associated with each of the catgories (FP, TP, FN, TN)

In [42]:
knn_result * p_and_l

array([[     0.        , -45000.        ],
       [-63333.33333333, 390000.        ]])

To get the total profit, we simply need to sum up all the p_and_l's for each category (TP, FP, TN, FN)

In [43]:
model_profit = (knn_result * p_and_l).sum()

print(f"${model_profit:,.2f}")

$281,666.67

As we can see, using a k value of 71 would result in a model that is expected to look over \\$250,000 in the upcoming campaign. This is much worse than the null model (where they simply don't use a model and target every customer).

## Testing other values of k

Clearly, our model is a failure. Despite some model measures seemingly looking ok (for instance, accuracy is 92.53%), using it would result in an expected loss of \\$250,333.33 (good thing we checked!). 

Let's spend a few minutes thinking about why that is.

Notice that though accuracy looks quite good, recall is relatively poor. Since the cost of an FN is very high (loss of \\$100) relative to the cost of a false positive (a loss of \\$$10), the distribution of the misclassified observations between FP and FN is very important. For any errors we must accept, it is much more advantageous if these are FP's. 

As we noted in the early stages of this evaluation (see note in "Train a K-NN model" section), our dataset is significantly unbalanced, with the number of customers not taking a loan nearly 10x higher than those that would take a loan. K-NN is particularly sensitive to this; in this case, the more significant proportion of observations where the customer did not take a loan makes it difficult for K-NN to identify the instances where they would take a loan. (since it's much more probably that a neighbor is a non-customer, and thus the voting will skew towards selecting an observation as a non-customer). This is particularly more problematic as the value of k increases. 

Is all lost?

There is still a chance that we can make the model better. Due to the unbalanced nature of this dataset, we'll most likely find that the model will perform better with a lower value of k. 

Let's test this hypothesis by trying a range of k values:

In [44]:
profits = []
for i in range(1,141,2):
    knn = KNeighborsClassifier(n_neighbors=i,  metric='euclidean')
    knn.fit(train_predictors, train_target)
    knn_prediction_output = knn.predict(validation_predictors)
    confusion = confusion_matrix(validation_target, knn_prediction_output)
    TP = confusion[1, 1] 
    TN = confusion[0, 0] 
    FP = confusion[0, 1] 
    FN = confusion[1, 0] 
    confusion_perc = confusion/1500 
    knn_result = confusion_perc * 50000
    p_and_l = np.array([[TN_profit, FP_profit],[FN_profit, TP_profit]])
    knn_result * p_and_l
    model_profit = (knn_result * p_and_l).sum()
    profits.append(model_profit)
    print(f"For k={i} model profit is ${model_profit:,.2f}")
print("*"*80)    
print(f"Max profit is {max(profits):,.2f}")
print("*"*80)

For k=1 model profit is $201,000.00
For k=3 model profit is $251,000.00
For k=5 model profit is $294,000.00
For k=7 model profit is $304,666.67
For k=9 model profit is $290,333.33
For k=11 model profit is $319,000.00
For k=13 model profit is $328,333.33
For k=15 model profit is $317,666.67
For k=17 model profit is $327,666.67
For k=19 model profit is $326,333.33
For k=21 model profit is $320,666.67
For k=23 model profit is $320,000.00
For k=25 model profit is $326,333.33
For k=27 model profit is $327,333.33
For k=29 model profit is $315,333.33
For k=31 model profit is $309,333.33
For k=33 model profit is $309,000.00
For k=35 model profit is $315,000.00
For k=37 model profit is $320,333.33
For k=39 model profit is $311,666.67
For k=41 model profit is $316,000.00
For k=43 model profit is $303,333.33
For k=45 model profit is $296,333.33
For k=47 model profit is $301,666.67
For k=49 model profit is $301,666.67
For k=51 model profit is $297,000.00
For k=53 model profit is $297,000.00
For k=55 model profit is $290,333.33
For k=57 model profit is $291,000.00
For k=59 model profit is $290,333.33
For k=61 model profit is $289,000.00
For k=63 model profit is $287,000.00
For k=65 model profit is $291,333.33
For k=67 model profit is $292,333.33
For k=69 model profit is $293,000.00
For k=71 model profit is $281,666.67
For k=73 model profit is $287,000.00
For k=75 model profit is $294,000.00
For k=77 model profit is $294,000.00
For k=79 model profit is $288,000.00
For k=81 model profit is $296,666.67
For k=83 model profit is $302,333.33
For k=85 model profit is $294,333.33
For k=87 model profit is $294,000.00
For k=89 model profit is $294,666.67
For k=91 model profit is $276,000.00
For k=93 model profit is $276,000.00
For k=95 model profit is $276,666.67
For k=97 model profit is $276,666.67
For k=99 model profit is $271,333.33
For k=101 model profit is $271,333.33
For k=103 model profit is $258,666.67
For k=105 model profit is $258,333.33
For k=107 model profit is $257,666.67
For k=109 model profit is $264,000.00
For k=111 model profit is $275,666.67
For k=113 model profit is $270,333.33
For k=115 model profit is $284,666.67
For k=117 model profit is $277,333.33
For k=119 model profit is $283,000.00
For k=121 model profit is $269,666.67
For k=123 model profit is $263,333.33
For k=125 model profit is $271,000.00
For k=127 model profit is $257,000.00
For k=129 model profit is $270,666.67
For k=131 model profit is $282,666.67
For k=133 model profit is $283,333.33
For k=135 model profit is $270,666.67
For k=137 model profit is $270,000.00
For k=139 model profit is $264,000.00
********************************************************************************
Max profit is 328,333.33
********************************************************************************

## Business Impact Summary

> TODO: Add in your summary of the results